
@font-face {
	font-family: 'pingFangSC-Medium';
	src: url('PingFangSC-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'pingFangSC-Light';
	src: url('PingFangSC-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pingFangSC-Regular';
	src: url('pingFangSC-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
.Regular {
	font-family: pingFangSC-Regular;
}
.Light {
	font-family: PingFangSC-Light;
}