.content{
    margin-bottom: 1rem;
}
.item{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}
.question-logo{
    border-radius: .2rem;
    overflow: hidden;
    display: inline-block;

}
.question-logo>img{
    width: 100%;
    height: 100%;
}
.question-info{
    display: inline-block;
    text-align: justify;
   
    color: #000000;
    letter-spacing: 0;
}
.title{
    font-size: .18rem;
    color: #000;
    line-height: .33rem;
    margin-bottom: .15rem;
    font-weight: 400;
    font-family: PingFangSC-Light;

}
.desc{
    font-size: .14rem;
    line-height: .28rem;
	font-family: PingFangSC-Light;
}
.small-page{
    display: none;
}
.question-box{
    margin-bottom: .6rem;
}
@media (min-width: 1200px) {
    .item{
        margin-top: .5rem;
        height: 2.2rem;
    }
    .question-info{
        width: 9.3rem;
    }
    .question-logo{
        width: 2.0rem;
        height: 2.0rem;
        margin-right: .5rem;

    }

}
@media (min-width: 992px) and (max-width: 1200px){
    .item{
        margin-top: .5rem;
        height: 2.2rem;
    }
    .question-info{
        width: 7.3rem;
    }
    .question-logo{
        width: 2.0rem;
        height: 2.0rem;
        margin-right: .4rem;

    }
}
@media (min-width: 767px) and (max-width: 992px){
    .item{
        margin-top: .5rem;
        height: 2.2rem;
    }
    .question-info{
        width: 5rem;
    }
    .question-logo{
        width: 2.0rem;
        height: 2.0rem;
        margin-right: .4rem;

    }

}
@media (max-width: 767px) {
    .page{
        display: none !important;
    }
    .small-page{
        display: block;
        margin-bottom: .3rem;
    }
    .item{
        margin-top: .5rem;
        height: auto;
    }
    .question-info{
        width: 100%;
    }
    .question-logo{
        width: 2.0rem;
        height: 2.0rem;
        margin: 0 auto;

    }
    .title{
        text-align: center;
    }
}
